# Find LSOAs in catchment area of each hospital

In [1]:
import pandas as pd
import numpy as np

## Import data

Travel time matrix between each LSOA and each hospital:

In [2]:
df_time_lsoa_hospital = pd.read_csv('../data_tabular/lsoa_travel_time_matrix_calibrated.csv', index_col='LSOA')

In [3]:
df_time_lsoa_hospital.columns

Index(['B152TH', 'B714HJ', 'B95SS', 'BA13NG', 'BA214AT', 'BB23HH', 'BD96RJ',
       'BH77DW', 'BL97TD', 'BN112DH',
       ...
       'TN240LZ', 'TQ27AA', 'TR13LQ', 'TS198PE', 'TS43BW', 'WD180HB', 'WF14DG',
       'WR51DD', 'WV100QP', 'YO318HE'],
      dtype='object', length=125)

In [4]:
df_time_lsoa_hospital.index

Index(['Adur 001A', 'Adur 001B', 'Adur 001C', 'Adur 001D', 'Adur 001E',
       'Adur 001F', 'Adur 002A', 'Adur 002B', 'Adur 002C', 'Adur 002D',
       ...
       'York 022F', 'York 023A', 'York 023B', 'York 023C', 'York 024A',
       'York 024B', 'York 024C', 'York 024D', 'York 024E', 'York 024F'],
      dtype='object', name='LSOA', length=34752)

## Assign LSOAs to hospitals

In [5]:
df_lsoa_hospitals = pd.DataFrame()
# The smallest time in each row:
df_lsoa_hospitals['time_nearest_stroke_team'] = df_time_lsoa_hospital.min(axis='columns')
# The name of the column containing the smallest time in each row:
df_lsoa_hospitals['name_nearest_stroke_team'] = df_time_lsoa_hospital.idxmin(axis='columns')
# The starting LSOA names:
df_lsoa_hospitals['lsoa'] = df_time_lsoa_hospital.index

df_lsoa_hospitals = df_lsoa_hospitals.set_index('lsoa')

df_lsoa_hospitals

           time_nearest_stroke_team name_nearest_stroke_team
lsoa
Adur 001A                      17.6                   BN25BE
Adur 001B                      18.7                  BN112DH
Adur 001C                      17.6                  BN112DH
Adur 001D                      17.6                  BN112DH
Adur 001E                      16.5                  BN112DH
...                             ...                      ...
York 024B                      15.5                  YO318HE
York 024C                      17.6                  YO318HE
York 024D                      15.5                  YO318HE
York 024E                      17.6                  YO318HE
York 024F                      17.6                  YO318HE

[34752 rows x 2 columns]

Save to file:

In [6]:
df_lsoa_hospitals.to_csv('../data_tabular/lsoa_nearest_stroke_team.csv')